* {
    margin: 0;
    border: 0;
    
}


.head_er{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img_log_sena{
width: 146px;
}

.img_log_microsoft {
width: 220px;
padding-top: 30px;
margin-left: 350px;
}

.linea_verde {
    background-color: #39a900;
    height: 19px;
}

.contenedor_img_fondo{
    max-width: 100%;
    max-height: 75vh;
    overflow: hidden;
    position: relative;
}

.img_fondo{
    width: 100%;
    height: 100%;
}
.linea_verde_footer {
    background-color: #39a900;
    height: 6.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img_territorium {
    height: 2.5vh;
    margin: 0px 17px ;
}

.caja_pie_1{
    margin: 0px 17px ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.caja_pie_2 {
    margin: 0px 17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/*
.caja_prin_ingreso {
    position: absolute;  La caja tiene posición absoluta con respecto al contenedor 
    top: 300px; Ajusta la posición desde la parte superior según tus necesidades 
    left: 900px;
    background-color: white;
}
*/

.caja_prin_ingreso {
    position: absolute;
    top:35%;
    left: 43%;
    background-color: white;
    height: 43%;
    width: 13.5%;
    border-radius: 10px;
}


.caj_mit_1{
    display: flex;
    flex-direction: row;
    background-color: #669900;
    height: 45px;
    justify-content: center;
    gap: 7px;

}

.caj_mit_1_1{
color: white;
font-size: 20px;
display: flex;
align-items: center;
font-family: 'Inter', sans-serif;

}

.caj_mit_1_2{
color: white;
display: flex;
align-items: center;
padding-top: 5px;
font-size: 12px;
font-family: 'Inter', sans-serif;

}


.caj_mit_2{
display: flex;
justify-content: center;
}

.caj_mit_2_1{
padding-top: 6px;
padding-bottom: 16px;
font-family:  sans-serif;
font-size: 13px;
color: rgb(31, 30, 30);

}

.caj_mit_3{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 30px;
}

.caj_mit_3_1{
    display: flex;
   justify-content: center;
   align-items: center;
    border: solid 1px #c5c5c5;
    border-radius: 3px;
    text-align: center;
    padding-right: 20px;
    height: 30px;
    width: 186px;
    gap: 30px;
    padding-top: 7px;
    padding-left: 9px;
}
.caj_mit_3_2{
font-family: sans-serif;
font-size: 12px;
color: rgb(70, 68, 68);
height: 20px;
width: 133px;
}

.caj_mit_3_3{
    height: 6px;
    width: 10px;
    padding-left:  13px;
}

.caj_mit_4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.caj_mit_4_1{
font-family:  sans-serif;
font-size: 13px;
color: rgb(31, 30, 30);
margin-right: 46px;
}

.caj_mit_5 {
display: flex;
justify-content: center;
align-items: center;
}

.caj_mit_5_2 {
border: solid 1px #c5c5c5;
border-radius: 3px;
padding: 8px;
padding-right: 29px;
height: 20px;
width: 175px;
font-size: 12.5px;
text-align: center;
padding-left: 14px;
outline: none;
}

.caj_mit_6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    padding-top: 20px;
}

.caj_mit_6 {
    font-family:  sans-serif;
    font-size: 13px;
    color: rgb(31, 30, 30);
    padding-right: 120px;
}

.caj_mit_7{
display: flex;
justify-content: center;
align-items: center;
}

.caj_mit_7_1{
border: solid 1px #c5c5c5;
border-radius: 3px;
outline: none;
padding: 8px;
padding-right: 29px;
height: 18px;
width: 175px;
padding-left: 16px;

}

.caj_mit_8{
    display: flex;
    flex-direction: column;
    align-items: center;

   
}

.caj_mit_8_1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom:  px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #39a900;
    font-weight: bold;
    gap: 3px;
}
.caj_mit_8_1_2{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #39a900;
    font-weight: bold;
}

.caj_mit_boton{
    height: 40px;
    width: 190px;
    background-color: #39a900;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    width: 210px;
    border-radius: 4px;
    cursor: pointer;
}

.img_herramienta{
    position: absolute;
    top: 500px;
    right: 1px;
    border-radius: 2px;
    cursor: pointer;
}