* {
    margin: 0;
    border: 0;
}


.head_er{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img_log_sena{
width: 150px;
}

.img_log_microsoft {
width: 220px;
padding-top: 30px;
}

.linea_verde {
    background-color: #39a900;
    height: 19px;
}

.contenedor_img_fondo{
    max-width: 100%;
    max-height: 75vh;
    overflow: hidden;
    position: relative;
}

.img_fondo{
    max-width: 100%;
    max-height: 100%;
}
.linea_verde_footer {
    background-color: #39a900;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img_territorium {
    height: 2.5vh;
    margin: 0px 17px ;
}

.caja_pie_1{
    margin: 0px 17px ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.caja_pie_2 {
    margin: 0px 17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/*
.caja_prin_ingreso {
    position: absolute;  La caja tiene posición absoluta con respecto al contenedor 
    top: 300px; Ajusta la posición desde la parte superior según tus necesidades 
    left: 900px;
    background-color: white;
}
*/

.caja_prin_ingreso {
    position: absolute;
    top:40%;
    left: 45%;
    background-color: white;
    height: 43%;
    width: 13.5%;
}


.caj_mit_1{
    display: flex;
    flex-direction: row;
    background-color: green;
    height: 45px;
    justify-content: center;
    gap: 3px;
}

.caj_mit_1_1{
color: white;
font-size: 23px;
display: flex;
align-items: center;

}

.caj_mit_1_2{
color: white;
display: flex;
align-items: center;
padding-top: 7px;
font-size: 12px;
}

.caj_mit_2{
display: flex;
justify-content: center;
}

.caj_mit_2_1{
padding: 10px;
}

.caj_mit_3{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 30px;
}

.caj_mit_3_1{
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    gap: 35px;
    padding: 7px;
    padding-right: 20px;

}
.caj_mit_3_2{

}


