*{
    border: 0;
    margin: 0;
}


.caja_gris{
    background-color: #f0f2f5;
    height: 80vh;
    width: 100%;
}

.caja_blanca{
    background-color: #ffffff;
    height: 20vh;
    width: 100% ;
}


img{
    height: 50px;
    width: 250px;
    padding-bottom: 20px;
}

.caja_1{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 30%;
}

.caja_2_1{
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 10px;
    align-items: center;
    height: 346px;
    width: 395px;
}

.caja_2_1{
    display: flex;
    flex-direction: column; 
}

.caja_gris{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.caja_1_1{
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
}

.input_1{
    height:45px;
    width: 350px;
    border: solid 1px #dddfe2;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 17px;
    margin-top: 13px;
    outline-color: #0866ff;
}

.input_1::placeholder{
    color: #90949c;
    outline-width: 1000px;
}


.button_1{
    height: 45px;
    width: 350px;
    margin-top: 13px;
    border-radius: 5px;
    color: white;
    background-color: #0866ff;
    font-size: 20px ;
    cursor: pointer;
}





